* {
    box-sizing: border-box; 
}

body {
    margin: 0px;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
} 

/* navbar */
.navbar {
    font-size: 18px;
    border: 1px solid black;
    height: 95px;
    width: 100%;
    position: fixed;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #ffffff;
}

.navbar > .nav-header {
    display: inline;
}

.navbar > .nav-header > .kim-logo {
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
    text-decoration: none;
    margin-left: 150px;
    font-size: 30px;
    padding:30px;
    text-align: center;
}

li {
    display: inline;
}

.navbar > .nav-right {
    list-style-type: none;
    float: right;
    font-size: 20px;
    margin-right: 150px;
    margin-top: 30px;
}

.nav-right a{
    color: #777;
    text-decoration: none;
    padding: 13px 13px 13px 10px;
}

.nav-right a:hover {
    background-color: #4aaaa5;
    transition-duration: .5s;
    color: white;
} 

/* container */
/* .container {
    border: 1px #dddddd solid;
    clear: both;
}

/* img */
/* .profile-img {
    height: 200px;
    width: 200px;
    float: left;
} */ 
